.sessions {
    padding: 20px;
    margin-left: 22%;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #2C3E50;
    color: white;
}

.scheduled {
    color: green;
}

.completed {
    color: blue;
}
