.admin-community-container {
    display: flex;
    margin-top: 60px  ;
    width: 78%;
    margin-left: 22%;
  }
  
  .admin-community-content {
    flex: 1;
    padding: 20px;
    background-color: white;
  }
  
  .admin-community-main {
    text-align: center;
  }
  
  .admin-community-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .admin-community-table th, .admin-community-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .admin-community-table th {
    background-color: #e0b3b8;
    color: white;
  }
  
  .admin-delete-btn {
    background-color: #d9534f;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .admin-delete-btn:hover {
    background-color: #c9302c;
  }
  
  .admin-community-comment {
    font-size: 14px;
    padding: 5px 0;
  }
  